header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 12vh;
  border-bottom: 1px solid #acd9c5;

  p {
    text-transform: capitalize;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: max( 20px, 1.11vw);
    line-height: 24px;

    color: #0e8750;
  }
}

